@font-face{
    font-family: 'consolas';
    src: url('C:\Users\Babits\Dropbox\doveedit\resources\consolas.ttf');
}

span.code{
    color: blue;
    font: consolas;
    font-weight:bold;
}

pre.code{
    color: blue;
    font-weight: bold;
}